{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<h6>Showing notes and urls for {{ uclass.class_code }} at {{  uni.name }}, {{ uni.location }}.</h6>
<h6>Instructor: {{ uclass.instructor }} | {{ uclass.term }}</h6>
<form class="form-inline my-2 my-lg-2">
    <input 
    class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="search" value="{{ request.GET.search }}">
    <button class="btn btn-outline-success my-2 my-sm-2" type="submit">Search</button>
  </form>
<hr/>

<a href="{% url 'add_url' %}?next={{ request.path|urlencode }}" class="btn btn-outline-primary my-2 my-sm-2" role="button">Post URL <b>+</b></a>
<a href="{% url 'add_note' %}?next={{ request.path|urlencode }}" class="btn btn-outline-primary my-2 my-sm-2" role="button">Post Note <b>+</b></a>

{% if url_list or note_list %}
{% for url in url_list%}

    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h6>#url</h6>
            <p><a href="{{ url.url }}">{{ url.description }}</a></p>
        </div>
    </div>

{% endfor %}

{% for note in note_list%}

    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h6>#note</h6>
            <p>{{ note.content }}</p>
        </div>
    </div>

{% endfor %}
<br>
<p>End of results. Only 20 rows displayed at a time, please search to narrow the results.</p>
{% else %}
<br>
<br>
<p>No results. Add a <a href="{% url 'add_url' %}?next={{ request.path|urlencode }}">URL</a> or <a href="{% url 'add_note' %}?next={{ request.path|urlencode }}">note</a>.</p>
{% endif %}


{% endblock content %}