{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<h1>Privacy Policy</h1>
<hr>
Last updated on 3 Aug 2020.
<ol>
    <li>All users to this website must agree with this privacy policy.</li>
    <li>This website relies on 'cookies' for core functionality and analytics. Learn more about cookies on <a href="http://allaboutcookies.org/" target="_blank">allaboutcookies.org</a>.</li>
    <li>Analytics are collected using Google Analytics. Visitors must agree with Google's <a href="https://policies.google.com/privacy?hl=en-US#about" target="_blank">privacy policy</a>.</li>
    <li>Any user-inputted information added to this site using forms, search etc. may be stored indefinitely. Users may request information to be removed using this <a href="https://docs.google.com/forms/d/e/1FAIpQLScXbzB-TY7ti2RHxKEII0ogM4fkUFxKqrR3KFE8g1NreHoUMg/viewform?usp=sf_link" target="_blank">form</a>.</li>
    <li>This privacy policy may change at any time without prior notice.</li>
</ol>
{% endblock content %}
